# This is a template of complete .gitignore that I use in my Java projects.
# Based on GitHub oficial gitignore templates: https://github.com/github/gitignore

#====================
# JAVA IGNORE FILES
#====================
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#=======================
# WINDOWS IGNORE FILES
#=======================
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

#=======================
# LINUX IGNORE FILES
#=======================
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

#=======================
# MAVEN IGNORE FILES
#=======================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

#=========================
# GRADLE IGNORE FILES
#=========================
.gradle
/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

#=========================
# SBT IGNORE FILES
#=========================
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

#=========================
# ECLIPSE IGNORE FILES
#=========================
.project
.classpath
/settings
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.externalToolBuilders/
*.launch
*.pydevproject
.cproject
.autotools
.factorypath
.buildpath
.target
.tern-project
.texlipse
.springBeans
.recommenders/
.apt_generated/
.cache-main
.scala_dependencies
.worksheet

#=========================
# IDEA IGNORE FILES
#=========================
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
cmake-build-*/
.idea/**/mongoSettings.xml
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/httpRequests
*.iml
.idea/

#==========================
# NETBEANS IGNORE FILES
#==========================
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

#=======================
# ADDITIONAL JVM LANGUAGES
#=======================
# KOTLIN
Java.gitignore

# SCALA
*.class
*.log
